header {
	background-color:#008080;
	margin-bottom:30px;
}

.container{

}

btn.primary{
	background-color:#c0c0c0 !important;
}

h1{
	padding: 20px;
	font-size:82px;
}
label {
	min-width:70px;}

header a{
	background-color:#e4eeef;
	padding:13px;
}

.contentcard{
	min-height:200px;
	margin: 0px auto;
	width:50%;
	padding:40px;
	text-align: center;
}